<a class='title' href='/#/home'>
    <div class='text'>XXXXX Consulting</div>
    <div class='subtext'>Logo here?</div>
</a>

<ul class="menu">
    <li class='menu-item'
        ng-repeat='(pagename,page) in pages'
        ng-class='{active: isActive(page)}'>

        <span ng-if='!page.subpages'
            ng-click='redirect(page.url)'>
            {{page.name}}
        </span>
        <div ng-if='page.subpages' uib-dropdown>

            <span ng-class='{active: isActive(page)}'
                ng-click='redirect(page.url)'>
                {{page.name}}
            </span>
            <ul class='submenu' uib-dropdown-menu>
                <li ng-repeat='subpage in page.subpages track by $index'
                    class='submenu-item'
                    ng-click='redirect(page.url + "#" + subpage.url)'>
                    <span >
                        {{subpage.name}}
                    </span>
                </li>
            </ul>
        </div>
    </li>
</ul>
