<div id='home' class='clearfix'>

    <div class='breaking'  ng-click='redirect("news")'>
        <div class='text container'>
            <span class='title'>Breaking News Title Here</span> description description description description description description description
        </div>
    </div>

    <div class='container content'>

        <div class='ticker-chart-row clearfix'>

            <div class='ticker col-xs-12 col-md-6'>
                <img src='/images/stockchart.PNG'>
            </div>

            <div ng-controller='stock-controller' class='chart-section col-xs-12 col-md-6'>

                <div class='dropdowns'>

                    <div class='dropdown' uib-dropdown ng-repeat='(category, options) in dropdownOptions'>

                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-{{category}}"
                            uib-dropdown-toggle>
                          {{options.selected}}
                          <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" uib-dropdown-menu  aria-labelledby="dropdown-{{category}}">
                            <li role='menuItem' ng-repeat="o in options.options track by $index">
                                <a href='javascript:void(0);'>{{o}}</a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div id='stock-chart'>
                    <img src='/images/stocktick.png'>
                </div>

            </div>
        </div>

        <div ng-controller='news-controller' class='news-section clearfix'>

            <div class='col-sm-8 col-xs-12 feed-section'>

                <div class='news-header colorease' ng-click='redirect("news")'>My News Feed</div>

                <div class='news-block bgcolorease wow slideInUp' ng-click='redirect("news")' ng-repeat='a in repeat(20)'>
                    <div class='news-image col-xs-12 col-sm-6'>
                        <img src='/images/imagesample{{a % 4}}.jpg'>
                    </div>
                    <div class='news-desc col-xs-12 col-sm-6'>
                        <div class='news-title'>News headline here</div>
                        <div class='news-content'>News content here news content here news content here</div>
                    </div>
                </div>

            </div>

            <div class='col-sm-4 col-xs-12 top-news-section'>

                <div class='news-header' ng-click='redirect("news")'>Top News</div>

                <div class='block opacityease wow slideInRight' ng-click='redirect("news")' ng-repeat='a in repeat(20)'>
                    <div class='news-title'>Top news headline here {{a}}</div>
                    <div class='news-content'>News content here news content here news content here</div>
                </div>

            </div>

        </div>
    </div>
</div>
