<div id="home">
    <div class='splash'>
        <div class='container clearfix'>
            <div class='positioner'>
                <div class='splash-text'>
                    <div data-fittext='0.8'>
                        <span class='title'>Consultancy Services and Solutions</span>
                        <span class='bar'></span>
                        <span class='tagline'>Insert a tagline here, background is placeholder</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='services'>
        <div class='container'>
            <h1>Our Services</h1>
            <span class='bar'></span>

            <div class='col-xs-8 col-xs-offset-2 col-md-offset-2 col-md-4 service' ng-click='redirect("solutions")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Solutions</span>
                <div class='service-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>
            <div class='col-xs-8 col-xs-offset-2 col-md-offset-0 col-md-4 service' ng-click='redirect("consultancy")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Consultancy</span>
                <div class='service-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>
        </div>
    </div>

</div>
