#footer {

    font-family: 'Raleway', sans-serif;
    background-color: #4231A5;
    padding: 1em;
    margin-top: 2em;
    color: white;
    border-top: 5px solid #AAA;
}

#footer .menu {

    margin-bottom: 0;
    padding-left: 0;
}

#footer .menu-item{

    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    list-style-type: none;
    color: #DDD;
}

#footer .menu-item:hover{

    color: #FFF;
}

#footer .contacts {

    text-align: center;
    font-size: 1.5em;
    color: #CCC;
}

#footer .contacts i{

    font-size: 1.5em;
    padding: 0.5em 0.5em;

}

#footer .hoverglow{

    transition: color 0.3s ease;
    cursor: pointer;
    color: #CCC;
}

#footer .hoverglow:hover{
    color: white;
}

#footer .credits {

    color: #CCC;
    text-align: right;
}

@media (max-width:768px) {

    #footer .credits {

        text-align: center;
    }
 }
