#header {

    font-family: 'Arimo', sans-serif;
    background-color: #00E;
    width: 100%;
    position: relative;
    border-bottom: 3px solid #AAA;
    padding-bottom: 2px;
    background-image: url('/images/diagmonds-light.png');
}

#header .menu{
    position: absolute;
    top: 30px;
    right: 30px;
}

#header .menu-item {
    color: white;
    font-size: 1.3em;
    display: inline-block;
    cursor: pointer;
    transition: background-color ease 0.2s,  color ease 0.2s;
    padding-bottom: 0.2em
}

#header .menu-item span{

    display: inline-block;
    padding: 0.3em 1em;
}

#header .menu-item:hover,
#header .submenu-item:hover{

    background-color: #311EA5;
}

#header .menu-item.active,
#header .submenu-item.active{

    background-color: white;
    border: 1px solid #88B;
    color: blue;
}

#header .menu-item:hover .dropdown .submenu,
#header .submenu:hover{

    opacity: 1;
    top: 27px;
    min-width: 220px;
}

#header .menu-item .submenu{

    background-color: #222;
    color: white;
    border: none;
    border-radius: 0px;
    left: -10px;
    border: 10px solid transparent;
    top: -9999px;
    padding: 0px;
    display: block;
    opacity: 0;
    transition: opacity ease 0.2s;
}

#header .menu-item .submenu-item{

    font-size: 1.1em;
    padding: 0.3em 0.5em;
    transition: background-color ease 0.2s, color ease 0.2s;
    margin-top: 5px;
}

#header .title{

    padding: 0.5em 1.5em;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: background-color ease 0.3s;
}

#header .title:hover{

    background-color: #311EA5;
}

#header .text{
    font-size: 1.9em;
    font-weight: bold;
}

#header .subtext{
    font-size: 1.2em;
    padding-top: 0.5em;
}

@media (max-width:768px) {

    #header .title{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    #header .menu{
        position: static;
        text-align: center;
    }

    #header .menu-item{
        font-size: 1em;
    }

 }
