#home .breaking {
  padding: 2px 0px;
  border-bottom: 1px solid #BBB;
  transition: background-color 0.3s ease;
  cursor: pointer; }
  #home .breaking .text {
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    color: #777; }
    #home .breaking .text .title {
      font-size: 1.2em;
      font-weight: bold;
      color: #555;
      text-transform: uppercase; }
  #home .breaking:hover {
    background-color: #DFDEFF; }
#home .content {
  padding-top: 20px;
  height: 300px; }
#home .ticker {
  margin-bottom: 20px; }
  #home .ticker iframe {
    height: 100%;
    width: 100%; }
#home .chart-section {
  height: 100%; }
  #home .chart-section #stock-chart {
    height: calc(100% - 50px);
    width: 100%; }
  #home .chart-section .dropdown {
    padding: 0px 4px;
    display: inline-block; }
    #home .chart-section .dropdown button {
      width: 100%; }
    #home .chart-section .dropdown li {
      padding: 2px 5px; }
#home .news-section {
  border-top: 1px solid #AAA;
  margin: 40px 0px;
  position: relative;
  padding-top: 40px; }
  #home .news-section .news-header {
    position: absolute;
    top: -28px;
    left: 40px;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 0px 20px;
    cursor: pointer;
    transition: color 0.3s ease; }
    #home .news-section .news-header:hover {
      color: #88B; }
  #home .news-section .news-block {
    height: 300px;
    color: white;
    padding: 25px;
    cursor: pointer; }
    #home .news-section .news-block:hover {
      opacity: 0.8; }
    #home .news-section .news-block .inner {
      padding: 25px;
      height: 100%; }
    #home .news-section .news-block .black {
      background-color: black; }
    #home .news-section .news-block .blue {
      background-color: #29299C; }
  #home .news-section .more {
    float: right; }
