#solutions .splash,
#solutions .services{

    text-align: center;
}

#solutions .service .title{

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

#solutions .service{

    color: #BBB;
    transition: color 0.3s ease;
}

#solutions .service .icon{

    transition: opacity 0.3s ease;
}

#solutions .service:hover .icon{
    opacity: 1;
}

#solutions .service:hover{

    color: black;
}

#web .picture {

    background-image: url('/images/sample.png');
}

#bio .picture {

    background-image: url('/images/sample.png');
}

#third .picture {

    background-image: url('/images/sample.png');
}

#stats .picture {

    background-image: url('/images/sample.png');
}
